<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Necesita permiso de INTERNET para consultar FakeStore -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="TuMatchApp"
        android:roundIcon="@drawable/tumatchapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuMatchApp"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/tumatchapp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ResultsActivity"
            android:exported="false" />

        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />

        <!-- Activity host para mostrar CategoriaListFragment -->
        <activity
            android:name=".CategoryHostActivity"
            android:exported="false" />
    </application>

</manifest>